.Hero {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Hero__container {
  height: 100%;
  width: 1400px;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
}

.Hero__left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.Hero__title {
  font-size: 74px;
}

.Hero__about {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Hero__line {
  height: 5px;
}

.Hero__subtitle {
  color: rgb(167, 12, 90);
}

.Hero__desc {
  font-size: 24px;
  color: lightgray;
}

.Hero__button {
  font-family: "Rajdhani", sans-serif;
  background-color: rgb(167, 12, 90);
  color: white;
  font-weight: 500;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Hero__right {
  flex: 3;
  position: relative;
}

.Hero__img {
  width: 800px;
  height: 600px;
  object-fit: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: animate 2s infinite ease alternate;
}

@keyframes animate {
  to {
    transform: translateY(30px);
  }
}

@media (max-width: 768px) {
  .Hero {
    height: 200vh;
  }

  .Hero__container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Hero__left {
    flex: 1;
    align-items: center;
  }

  .Hero__title {
    text-align: center;
  }

  .Hero__desc {
    padding: 20px;
    text-align: center;
  }

  .Hero__right {
    flex: 1;
  }

  .Hero__img {
    width: 300px;
    height: 300px;
  }
}
